<div class="auth-provider persona">
  <h3>Eventbrite</h3>
  <a class="btn btn-social btn-eventbrite" href="<%= auth_path(:eventbrite) %>">
    <i class="fa fa-arrow-circle-right"></i> Sign in with Eventbrite
  </a>
</div>


