<div class="auth-provider persona">
  <h3>Twitter</h3>
  <a class="btn btn-social btn-twitter" href="<%= auth_path(:twitter) %>">
    <i class="fa fa-twitter"></i> Sign in with Twitter
  </a>
</div>

