/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require persona-buttons
 *= require farbtastic
 *= require openid-selector/openid
 *= require open_conference_ware/custom
 *= require bootstrap-custom
 *= require bootstrap-theme
 *= require bootstrap-social
 *= require_self
 */

/* Fix for Bootstrap's use of box-sizing: border-box; */
#container,
#content,
.user_photo,
.inner_container,
li.event a.year,
li.event a.year:hover,
.sidebar {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* This really shouldn't be necessary... */
a.btn-github { color: #fff; }
